@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftRegular-Bmg3.otf");
    font-weight: normal;
}
@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftBold-nMK1.otf");
    font-weight: bold;
}
@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftBoldItalic-1y1e.otf");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftItalic-R8Mo.otf");
    font-style: italic;
}
html{
    height:100%;
}
body{
    height:80%;
    background-image: url(../imgs/leaderboardbg.png);
}
header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 80px;
    padding-right: 80px;
    gap:8px;
}

.container{
    background: rgb(54,69,79);
background: linear-gradient(0deg, rgba(31,41,55,1) 0%,rgba(54,69,79,1) 80%);
    color:white;
    margin:-8px;
    margin-bottom:initial;
    padding:8px;
    font-family: minecraft, Helvetica, sans-serif;
}
.ruby{
    width:100px;
}
.links{
    font-size:large;
    align-self:flex-start;
    margin-top:16px;
    display:flex;
    gap:32px;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    position:fixed;
    width:100%;
    color:white;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom: -8px;
    padding:24px;
    background: rgb(54,69,79);
    background: linear-gradient(0deg, rgba(31,41,55,1) 0%,rgba(54,69,79,1) 80%);
    text-align:center;
    bottom:0px;
    font-family:Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }
.table-container{
    display:flex;
    height:100%;
    justify-content: center;
    align-items: center;
}
.player{
    height:25px;
    width: auto;
}