@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftRegular-Bmg3.otf");
    font-weight: normal;
}
@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftBold-nMK1.otf");
    font-weight: bold;
}
@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftBoldItalic-1y1e.otf");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: minecraft;
    src: url("../fonts/MinecraftItalic-R8Mo.otf");
    font-style: italic;
}

header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 80px;
    padding-right: 80px;
    gap:8px;
}
.container{
    background: rgb(54,69,79);
background: linear-gradient(0deg, rgba(31,41,55,1) 0%,rgba(54,69,79,1) 80%);
    color:white;
    margin:-8px;
    margin-bottom:initial;
    padding:8px;
    font-family: minecraft, Helvetica, sans-serif;
}
.ruby{
    width:100px;
}
.links{
    font-size:large;
    align-self:flex-start;
    margin-top:16px;
    display:flex;
    gap:32px;
}
a{
    text-decoration: none;
    color: white;
}
.main-text{
    font-size: 48px;
    font-weight: bold;
    margin:0px;
    margin-bottom: 8px;
}
.main-text-container{
    flex:1;
}
.main-text-container p{
    margin:8px;
    color: #e5e7eb;
    font-size:18px;
}
.flex-container{
    padding:0px;
    display:flex;
    align-items: center;
}
.ruby-image{
    flex:auto;
    max-width: max-content;
    min-width: 100px;
}
button{
    margin:8px;
    margin-top: 0px;
    background: #008D45;
    background: linear-gradient(0deg, #01793b 50%,#008D45 0%);
    padding:8px;
    padding-left:32px;
    padding-right: 32px;
    text-align: center;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bolder;
    color:white;
    font-family:minecraft;
    font-weight:bold;
    border: solid #01793b;
}
button:hover{
    background: #01793b;
    background: linear-gradient(0deg, #016933 50%,#007d3d 0%);
    cursor:pointer;

}
.quote-container{
    display:flex;
    align-items:center;
    margin-top: 48px;
    justify-content:space-evenly;
    font-size: 32px;
}
.quote{
    flex-shrink:200;
    margin-left:100px;
    font-family: minecraft, Helvetica, sans-serif;
    font-style: italic;
}
.who{
    margin-top:8px;
    font-style: normal;
    font-size:24px;
    text-align:right;
    font-weight:bold;
    
}

.arrow{
    flex:auto;
    min-width: 0px;
}
.container-flex{
    margin-left:100px;
    margin-right:100px;
}
.square{
    height:200px;
    width:200px;
    display:flex;
    flex-direction: column;
    border:solid #01793b;
    border-radius: 25px;
    flex-shrink: 0;
    justify-content: center;
}
.information{
    padding:32px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:42px;
    background-color: rgb(244, 244, 244);
    margin-right: -8px;
    margin-left:-8px;
}
.pixelized{
    image-rendering: pixelated;
}

.square-container{
    text-align: center;
    font-size: large;
    font-family: minecraft;
    font-weight: bold;
    display:flex;
    flex-direction:column;
    flex-shrink: 0;
    max-width: 200px;
}
.gif{
    align-self: center;
}
.steve{
    margin-top:auto;
}
.square-container p{
    font-weight: normal;
    font-size: medium;
    margin:5px;
}

footer{
    color:white;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom: -8px;
    padding:24px;
    background: rgb(54,69,79);
    background: linear-gradient(0deg, rgba(31,41,55,1) 0%,rgba(54,69,79,1) 80%);
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.whitelist{
    background-color: #008D45;
    display:flex;
    border-radius: 24px;
    justify-content: space-between;
    gap:16px;
    padding:32px;
    padding-left:86px;
    padding-right:86px;
    width:800px;
    align-items:center;
}
.column-flex-container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size:larger;
}
.whitelist p{
    margin:0px;
    font-weight: normal;
    font-size: medium;
}
.grey{
    padding:32px;
    background-color: rgb(244, 244, 244);
    justify-content:center;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 16px;
    color:white;
    font-family: minecraft,helvetica,sans-serif;
    padding-top: 108px;
    padding-bottom:108px;
}
.whitelist button{
    margin:0px;
    border:solid white
}