header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 80px;
    padding-right: 80px;
    gap:8px;
}
.container{
    background: rgb(54,69,79);
background: linear-gradient(0deg, rgba(31,41,55,1) 0%,rgba(54,69,79,1) 80%);
    color:white;
    margin:-8px;
    margin-bottom:initial;
    padding:8px;
    font-family: Helvetica, Arial, sans-serif;
}
.ruby{
    width:100px;
}
.links{
    font-size:large;
    align-self:flex-start;
    margin-top:16px;
    display:flex;
    gap:32px;
}
a{
    text-decoration: none;
    color: white;
}
.main-text{
    font-size: 48px;
    font-weight: bold;
    margin:0px;
    margin-bottom: 8px;
}
.main-text-container{
    flex:1;
    padding:80px;
}
.main-text-container p{
    margin:8px;
    color: #e5e7eb;
    font-size:18px;
}
.flex-container{
    padding:100px;
    padding-top: 0px;
    padding-bottom:0px;
    display:flex;
    align-items: center;
}
.ruby-image{
    flex:auto;
    max-width: max-content;
    min-width: 100px;
}
button{
    margin:8px;
    margin-top: 0px;
    background-color: #FFD700;
    padding:8px;
    padding-left:16px;
    padding-right: 16px;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bolder;
}
button:hover{
    background-color: #ebc801;
    cursor:pointer;

}
